<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-odgsdk"
        version="1.1.0">

  <name>cordova-plugin-odgsdk</name>

  <engines>
    <engine name="cordova" version=">=6.0.0"/>
  </engines>

  <asset src="www/odg-sdk.js" target="js/odg-sdk.js"/>

  <js-module src="www/odg-sdk.js" name="odg">
    <clobbers target="odg" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ODG">
        <param name="android-package" value="com.osterhoutgroup.sdk.ODG"/>
      </feature>
    </config-file>

    <source-file src="src/android/ODG.java" target-dir="src/com/osterhoutgroup/sdk/"/>
    <resource-file src="src/android/libs/com.osterhoutgroup.api.ext.jar" target="libs/com.osterhoutgroup.api.ext.jar"/>

    <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
  </platform>


</plugin>